body {
    margin: 0;
}

.drmp_bg {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center_con {
    max-width: 40rem;
    min-height: 20rem;
    background-color: #888e9a;
    border-radius: 1rem;
    box-shadow: 0 0 0.3rem black;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0.3rem solid orange;
}

#leftpad {
    width: 60%;
    min-height: 20rem;
}

.drum-machine {
    width: 5rem;
    height: 5rem;
    margin: 1rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0.2rem 0.1rem 0.5rem black;
    font-family: -apple-system, sans-serif;
    font-weight: 800;
    font-size: 1.3rem;
    background-color: white;
    background: linear-gradient(45deg, white,gainsboro);
}

@media screen and (max-width: 400px) {
    .drum-machine {
        width: 2rem;
        height: 2rem;
    }
}